<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>statsjustjoin.it</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<style>
    .cont {
  justify-content: center;
  margin: auto;
  width: 75%;
  padding: 10px;
}
</style>
</head>
<body>

<div class="cont">
    <a href="{% url 'dataPrint' 'all' %}"><button>all</button></a>
    <a href="{% url 'dataPrint' 'javascript' %}"><button>javascript</button></a>
    <a href="{% url 'dataPrint' 'html' %}"><button>html</button></a>
    <a href="{% url 'dataPrint' 'php' %}"><button>php</button></a>
    <a href="{% url 'dataPrint' 'ruby' %}"><button>ruby</button></a>
    <a href="{% url 'dataPrint' 'python' %}"><button>python</button></a>
    <a href="{% url 'dataPrint' 'java' %}"><button>java</button></a>
    <a href="{% url 'dataPrint' 'net' %}"><button>net</button></a>
    <a href="{% url 'dataPrint' 'scala' %}"><button>scala</button></a>
    <a href="{% url 'dataPrint' 'c' %}"><button>c</button></a>
    <a href="{% url 'dataPrint' 'mobile' %}"><button>mobile</button></a>
    <a href="{% url 'dataPrint' 'testing' %}"><button>testing</button></a>
    <a href="{% url 'dataPrint' 'devops' %}"><button>devops</button></a>
    <a href="{% url 'dataPrint' 'ux' %}"><button>ux</button></a>
    <a href="{% url 'dataPrint' 'pm' %}"><button>pm</button></a>
    <a href="{% url 'dataPrint' 'game' %}"><button>game</button></a>
    <a href="{% url 'dataPrint' 'analytics' %}"><button>analytics</button></a>
    <a href="{% url 'dataPrint' 'security' %}"><button>security</button></a>
    <a href="{% url 'dataPrint' 'data' %}"><button>data</button></a>
    <a href="{% url 'dataPrint' 'go' %}"><button>go</button></a>
    <a href="{% url 'dataPrint' 'sap' %}"><button>sap</button></a>
    <a href="{% url 'dataPrint' 'support' %}"><button>support</button></a>
    <a href="{% url 'dataPrint' 'other' %}"><button>other</button></a>
    <a href="{% url 'jobs' %}"><button>JOBS</button></a>
</div>
    <br><br>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>