{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Stats Just Join IT: #1 Stats Job Board for IT Industry in Poland
    </title>
    <link rel="icon" href="{% static '/skillsgraph/img/logo.png' %}">


    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
      integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw="
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static '/skillsgraph/css/light_theme_min.css' %}"
      id="theme-link"
    />
    <link
      rel="stylesheet"
      href="{% static '/skillsgraph/css/dark_theme_min.css' %}"
      id="theme-link2"
    />

    <script>
      const css_link = document.querySelector("#theme-link");
      const css_link2 = document.querySelector("#theme-link2");

      if (window.localStorage.getItem("theme") == undefined) {
        window.localStorage.setItem("theme", "light");
      } else {
        if (window.localStorage.getItem("theme") == "light") {
          css_link2.href = "";
        } else {
          css_link.href = "";
        }
      }
    </script>
  </head>
  {% block content %}{% endblock %}
</html>
