<header class="top flex-item">
  <div>
    <a href="/skills/all"><span class="logo">statsjustjoin.it </span></a>
    <span class="subtext"
      >#1 Stats Job Board <span id="for-it">for IT</span
      ><span id="added-subtext"> Industry in Poland</span></span
    >
  </div>
  <div>
    <button class="social-icons" id="theme">
      <i id="sun" class="fas fa-sun"></i>
      <i id="moon" class="fas fa-moon"></i>
    </button>
    <a href="https://github.com/wloszynski" target="_blank">
      <button class="social-icons">
        <i class="fab fa-github"></i>
      </button>
    </a>
    <a href="https://www.linkedin.com/in/wloszynski/" target="_blank">
      <button class="social-icons">
        <i class="fab fa-linkedin"></i>
      </button>
    </a>

    <button id="menu">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</header>
