<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
      integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw="
      crossorigin="anonymous"
    ></script>

    
  </head>

  <body>
    <div id="root" class="flex-container">
      <div class="top flex-item">
        <div>
          <span>statsjustjoin.it</span>
        </div>
        <div>
          <button id="menu">|||</button>
        </div>
      </div>
      <div class="options flex-item">
        <div>

          <!-- <button class="button-circle"><i class="fas fa-search"></i></button> -->
          <button class="button-circle">Technology</button>
          {% for category in categories %}
          <a class="link-icon" href="/skills/{{category}}">
            <img
              class="small-icon"
              src="{% static '/skillsgraph/' %}{{category}}.svg"
              alt="{{category}}'.svg'"
            />
          </a>
          {% endfor %}
          <select name="category" class="link-list" onchange="goToCategory()">
            {% for category in categories %}
            {% if category_selected == category %}
            <option value="{{ category }}" selected>{{ category }}</option>
            {% else %}
            <option value="{{ category }}">{{ category }}</option>
            {% endif %}
            {% endfor %}
          </select>
          <button class="button-circle">More filters</button>
        </div>
      </div>
      <div class="content flex-item items-container">
        <div class="num-app">
          <a class="num-app-link">
            <div>num of appearances</div>
          </a>
          <img
            class="chart-icon"
            src="{% static 'skillsgraph/pie-chart.svg' %}"
            alt="chart"
          />
        </div>
        <div class="flex-container">
          {% for row in all_rows %}
          <div class="top flex-item item">
            <span> {{ row.0 }}</span>
            <span> {{ row.1 }}</span>
          </div>
          {% endfor %}
        </div>
      </div>
      <div
        class="content flex-item items-container chart-div"
        style="display: none"
      >
        <div class="num-app">
          <button id="back-chart-btn"><span>back</span></button>
        </div>
        <div class="flex-container">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
    <script>
          let chart_button = document.querySelector(".chart-icon");
          let content_div = document.querySelector(".content");
          let chart_div = document.querySelector(".chart-div");
          let back_chart_button = document.querySelector("#back-chart-btn");
          let category_select = document.querySelector('.link-list');

          chart_button.addEventListener("click", function () {
            content_div.style.display = "none";
            chart_div.style.display = "block";
          });
          back_chart_button.addEventListener("click", function () {
            content_div.style.display = "block";
            chart_div.style.display = "none";
          });

          category_select.addEventListener("change", function () {
            let cat_selected = category_select.value;
            let url = "/skills/" + cat_selected;
            window.location.href = url;

          });

          let myChart = document.getElementById('myChart').getContext('2d');

      // Global Options
      Chart.defaults.global.defaultFontFamily = 'Lato';
      Chart.defaults.global.defaultFontSize = 18;
      Chart.defaults.global.defaultFontColor = '#777';

      let massPopChart = new Chart(myChart, {
        type:'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
          labels:[{% for row in rows %}
          "{{ row.0 }}",
          {% endfor %}

        ],
          datasets:[{
            label:'{{ category }}',
            data:[
            {% for row in rows %}
              {{ row.1 }},
            {% endfor %}
            ],
            //backgroundColor:'green',
            backgroundColor:[
              'rgba(255, 99, 132, 0.6)',
              'rgba(54, 162, 235, 0.6)',
              'rgba(255, 206, 86, 0.6)',
              'rgba(75, 192, 192, 0.6)',
              'rgba(153, 102, 255, 0.6)',
              'rgba(255, 159, 64, 0.6)',
              'rgba(255, 99, 132, 0.6)',
              'rgba(54, 162, 235, 0.6)',
              'rgba(255, 206, 86, 0.6)',
              'rgba(75, 192, 192, 0.6)',
              'rgba(153, 102, 255, 0.6)',
              'rgba(255, 159, 64, 0.6)',
              'rgba(255, 99, 132, 0.6)',
              'rgba(54, 162, 235, 0.6)',
              'rgba(255, 206, 86, 0.6)',
              'rgba(75, 192, 192, 0.6)',
              'rgba(153, 102, 255, 0.6)',
              'rgba(255, 159, 64, 0.6)',
              'rgba(255, 99, 132, 0.6)',
              'rgba(54, 162, 235, 0.6)',
              'rgba(255, 206, 86, 0.6)',
              'rgba(75, 192, 192, 0.6)',
              'rgba(153, 102, 255, 0.6)',
              'rgba(255, 159, 64, 0.6)',
              'rgba(255, 99, 132, 0.6)',
              'rgba(54, 162, 235, 0.6)',
              'rgba(255, 206, 86, 0.6)',
              'rgba(75, 192, 192, 0.6)',
              'rgba(153, 102, 255, 0.6)',
              'rgba(255, 159, 64, 0.6)',
              'rgba(255, 99, 132, 0.6)',
              'rgba(54, 162, 235, 0.6)',
              'rgba(255, 206, 86, 0.6)',
              'rgba(75, 192, 192, 0.6)',
              'rgba(153, 102, 255, 0.6)',
              'rgba(255, 159, 64, 0.6)',
              'rgba(255, 0, 0, .6)',

            ],
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:3,
            hoverBorderColor:'#000'
          }]
        },
        options:{
          title:{
            display:true,
            text:'Most wanted skills in {{ category }}',
            fontSize:25
          },
          legend:{
            display:false,
            position:'right',
            labels:{
              fontColor:'#000'
            }
          },
          layout:{
            padding:{
              left:0,
              right:0,
              bottom:0,
              top:0
            }
          },
          tooltips:{
            enabled:true
          }
        }
      });
    </script>
  </body>
</html>
