{% extends 'skillsgraph/head.html' %} {% load static %} {% block content %}
<body>
  <main id="root" class="flex-container">
    {% include 'skillsgraph/header.html' %}
    <nav class="options flex-item">
      <a class="link-icon" href="/jobs">
        <img
          class="small-icon"
          src="{% static '/skillsgraph/img/' %}job.svg"
          alt="job.svg"
        />
        {% if category_selected != 'all jobs' %}
        <span class="icon-title">Jobs</span>
        {% else %}
        <span class="icon-title"><strong>Jobs</strong></span>
        {% endif %}
      </a>

      {% for category in categories_zipped %}
      <a class="link-icon" href="/skills/{{category.0}}">
        <img
          class="small-icon"
          src="{% static '/skillsgraph/img/' %}{{category.0}}.svg"
          alt="{{category.0}}'.svg'"
        />
        {% if category_selected != category.0 %}
        <span class="icon-title">{{category.1}}</span>
        {% else %}
        <span class="icon-title"><strong>{{category.1}}</strong></span>
        {% endif %}
      </a>
      {% endfor %}
      <select name="category" class="link-list">
        <option value="jobs" selected>Jobs</option>
        {% for category in categories %} {% if category_selected == category %}
        <option value="{{ category }}" selected>{{ category|title }}</option>
        {% else %}
        <option value="{{ category }}">{{ category|title }}</option>
        {% endif %} {% endfor %}
      </select>
    </nav>
    <div class="content flex-item items-container">
      <div class="num-app">
        <a class="num-app-link">
          <div>appearances</div>
        </a>
        <img
          class="chart-icon"
          src="{% static 'skillsgraph/img/graph.svg' %}"
          alt="chart"
        />
      </div>
      <div class="flex-container-content skill-items">
        <div class="flex-item-content-count scroll">
          {% for row in all_rows %}
          <div class="top flex-item item">
            <span class="item-title"> {{ row.0|upper }}</span>
            <span class="item-count"> {{ row.1 }}</span>
          </div>
          {% endfor %}
        </div>
        <div class="flex-item-content-chart">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
    <div
      class="content flex-item items-container chart-div"
      style="display: none"
    >
      <div class="num-app" id="back-btn-background">
        <button id="back-chart-btn">
          <span><i class="fas fa-arrow-left arrow-btn"></i></span>
        </button>
      </div>
      <div class="flex-container" style="height: 45vh">
        <canvas id="myChart_2"></canvas>
      </div>
    </div>
  </main>

  {% include 'skillsgraph/script.html' %}
</body>
{% endblock %}
