body,
html {
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.flex-item {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

div.top {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  line-height: 8vh;
  border-bottom: 0.1px solid grey;
}

div.options {
  line-height: 8vh;
  height: 8vh;
}

div.num-app {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

div.content {
  flex-grow: 1;
}

div.items-container {
  background-color: #f2f5f7;
}

div.item {
  height: 6vh;
  padding: 5px;
  text-align: center;
  line-height: 6vh;
  margin-bottom: 0.5vh;
  margin-top: 1vh;
  background-color: #ffffff;
}

a.num-app-link {
  background-color: #f2f5f7;
  padding: 5px;
  margin-left: 10px;
  border-radius: 10px;
}

button.button-circle {
  border-radius: 100px;
  padding: 7px;
}
img.chart-icon {
  height: 4vh;
  width: 4vh;
  padding-right: 10px;
}
img.small-icon {
  height: 4vh;
  width: 4vh;
  padding-right: 10px;
}

@media only screen and (max-width: 600px) {
  .link-icon {
    display: none;
  }
}
